__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log
blocked_ips.json
attack_status.txt


# Keep these for a "ready-to-run" repo
# dataset/ddos.csv
# model/*.pkl

# Ignore static reports if they are regenerated
static/confusion_matrix.png
static/feature_importance.png
static/classification_report.txt
